<%
	let objOrdre = {
	"_id" : "asc",
	"nom" : "asc",
	"prenom" : "asc",
	"courriel" : "asc",
	"telephone" : "asc"
}	
if (typeof cle !== 'undefined'  && cle)
{
	objOrdre[cle] = ordre
}
%>

<table class="tableau">
 <tr>
 <th><a href='/trier/id/<%= objOrdre["_id"]  %>'>ID</a></th>
 <th><a href='/trier/nom/<%= objOrdre.nom  %>'><%= __('nom') %></a></th> 
 <th><a href='/trier/prenom/<%= objOrdre.prenom  %>'><%= __('prenom') %></a></th>
 <th><a href='/trier/courriel/<%= objOrdre.courriel  %>'><%= __('courriel') %></a></th>
 <th><a href='/trier/telephone/<%= objOrdre.telephone  %>'><%= __('telephone') %></a></th>
 <th></th> 
 <th></th>
 <th></th> 
 </tr>
 <% adresses.forEach(elm => {%>
 <tr>
 <td><%= elm._id %></td>
 <td contenteditable='true'><%= elm.nom %></td>
 <td contenteditable='true'><%= elm.prenom %></td>
 <td contenteditable='true'><%= elm.telephone %></td>
 <td contenteditable='true'><%= elm.courriel %></td>
 <td><a href="/detruire/<%= elm._id %>"><i class="material-icons">close</i></a></td>
 <td><a class='sauver' href="#"><i class="material-icons">save</i></a></td>
 <td><a href="/afficherUtilisateur/<%= elm._id %>"><i class="material-icons">person</i></a></td>
 </tr>
 <% }) %>
 </table>