<header class='entete'>

<nav> 
 <a href='/vider'><i class="material-icons">delete_forever</i><%= __('vide') %></a>
 <a href='/'><i class="material-icons">home</i><%= __('accueil') %></a>
 <a href='/list'><i class="material-icons">tab</i><%= __('adresse') %></a>
 <a href='/peupler'><i class="material-icons">supervisor_account</i><%= __('peupler') %></a>
 <a href='/fr'>FR</a>
 <span>|</span>
 <a href='/en'>EN</a>


</nav> 
 <section>
 <i class="fa fa-cubes fa-5x"></i>
 <h1>Node.js - Express - mongoDB <%= __('et') %> EJS</h1> 
 </section>
 </header>