<%- include('head') %> 
<body>
 <%- include('entete') %>
 	<div>
		<h1><%= personne.nom %></h1>
		<h2><%= personne.prenom %></h2>
		<h3><%= personne.courriel %></h3>
		<h4><%= personne.telephone %></h4>
	</div>
 <%- include('footer') %>
</body>
</html>